.about-us{
    width: 100%;
    background: linear-gradient(135deg, #f2f9fe 0%,#d6f0fd 100%);
    padding: 100px 0;
}

.about-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid  #00cccc;
    border-radius: 15px;
}
.about-header{
    width: 100%;
}

.about-header h1{
    margin-top: 20px;
    text-align: center;
    width: 100%;
    font-size: 52px;
    font-weight: 800;
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    transition: .5s;
}
.about-header h1:hover{
    transition: .5s;
    color: lightcoral;
}
.about-header h3{
    font-size: 20px;
}
.underline{
    transition: .5s;
    border-bottom: 4px solid #007bff;
}
.underline:hover{
    transition: .5s;
    border-bottom: 4px solid  #8080ff;
}
.topline{
    transition: .5s;
    border-top: 4px solid #007bff;
}
.topline:hover{
    transition: .5s;
    border-top: 4px solid   #8080ff;
}
.about-inner p{
    margin: 10px;
    line-height: 1.3;
    transition: .5s;
}
.about-inner p:hover{
    transition: .5s;
    color: lightcoral;
    cursor: pointer;
    transform: translateY(-20px);
}
.about-inner img{
    border-radius: 20px;
    width: 20%;
}
.about-inner img:hover{
    transition: .5s;
}
.right-img{
    float: right;
    margin: 7px 0 7px 7px;
}
.inner-box{
    width: 100%;
    margin-top: 30px;
    border-bottom: 4px solid #00cccc;
    border-radius: 15px;
}
