.blog{
    width: 100%;
    padding: 100px 0;
    background: linear-gradient(to right, #d4e4ef 0%,#86aecc 100%);
}
.blog-inner{
    width: 100%;
    /* text-align: left; */  
}
.blog-inner h2{
    font-family: "Oswald",sans-serif;
    color: #222;
    line-height: 1.1;
    font-size: 36px;
    font-weight: 600;
}
.blog-inner p{
    color: #444;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.667;
}
.blog-inner p:hover{
    color: #007bff;
}
.blog-inner span{
    padding-bottom: 8px;
    font-size: 36px;
    font-weight: 600;
}
.blog-items{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.blog-member{
    margin-top: 60px;
    width: 30%;
    box-shadow: 0px 5px 30px 0px #1d293e;
    border: 1px solid linear-gradient(to right, #d4e4ef 0%,#86aecc 100%);
    overflow: hidden;
    transition: .3s ease-in-out;
}
.blog-member:hover{
    transition: .3s ease-in-out;
    transform: translateY(-20px);
}
.blog-img img:hover{
    transform: scale(1.1);
    transition: .5s;
}

.blog-img{
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}
.blog-img img{
    width: 100%;
    transition: .5s;
}
.blog-details{
    padding: 30px 25px;
    text-align: left;
}
.blog-details a{
    margin: 0 0 15px 0px;
    color: #222;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 22px;
    text-decoration: none;
}
.blog-details ul{
    color: #666;
}
.blog-details ul li{
    display: inline-block;
    font-size: 15px;
    margin-right: 10px;
    text-transform: capitalize;
}
.blog-details h3{
    margin: 0 0 15px 0px;
    color: #222;
}
.blog-details p{
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin: 10px 0 10px;
    font-size: 15px;
    letter-spacing: 0;
}
.blog-info a{
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    transition: .3s;
}
.blog-info a:hover{
    color: #007bff;
    transition: .3s;
}
.blog-details .icons{
    position: absolute;
    top: -20px;
    border-radius: 50%;
    overflow: hidden;
}
.icons img{
    border-radius: 50%;
    width: 44px;
    height: 44px;
}
.blog-details{
    position: relative;
}