.contact{
    width: 100%;
    background: linear-gradient(135deg, #f2f9fe 0%,#d6f0fd 100%);
    padding: 200px 0;
}
.contact-main-title{
    font-weight: 300;
    font-size: 50px;
}
.contact-inner{
    width: 100%;
}
.content_centered{
    text-align: center;
}

.contact-title{
    margin: 10px 0;
    font-weight: 700;
    border-bottom: 5px solid rgb(226, 224, 210);
    padding-bottom: 10px;
    font-size: 30px;
    line-height: 40px;
}
.content_centered p{
    font-size: 18px;
}
label{
    font-weight: 600;
    font-size: 16px;
}
.select_centered{
    text-align: center;
}
.custom-select select{
    background-color: rgb(255, 255, 255) ;
    border-color: rgb(204, 204, 204) ;
    text-align: left ;
    border-radius: 5px ;
    color: rgb(0, 0, 0) ;
    font-size: 21px ;
    padding: 10px ;
    margin: 10px auto 20px auto ;
    width: 90% ;
    border-style: solid ;
    border-width: 1px ;
    transition: all 0.5s ease ;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 0%) ;
    height: 50px ;
}
.custom-select select:hover{
    font-size: 21px ;
    width: 90% ;
    padding: 10px ;
    margin: 10px auto 20px auto ;
    border-radius: 5px ;
    border-color: rgb(255, 88, 0) ;
    border-style: solid ;
    border-width: 1px ;
    background-color: rgb(255, 255, 255) ;
    transition: all 0.5s ease ;
    box-shadow: 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%), 0 3px 5px -1px rgb(0 0 0 / 20%) ;
    color: rgb(43, 61, 105) ;
}
.tab input{
    background-color: rgb(255, 255, 255) ;
    border-color: rgb(204, 204, 204) ;
    text-align: left ;
    border-radius: 5px ;
    color: rgb(0, 0, 0) ;
    font-size: 21px ;
    padding: 10px ;
    /* margin: 10px auto 20px auto ; */
    width: 90% ;
    border-style: solid ;
    border-width: 1px ;
    transition: all 0.5s ease ;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 0%) ;
    height: 50px ;
}
.tab input:hover{
    font-size: 21px ;
    width: 90% ;
    padding: 10px ;
    /* margin: 10px auto 20px auto ; */
    border-radius: 5px ;
    border-color: rgb(255, 88, 0) ;
    border-style: solid ;
    border-width: 1px ;
    background-color: rgb(255, 255, 255) ;
    transition: all 0.5s ease ;
    box-shadow: 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%), 0 3px 5px -1px rgb(0 0 0 / 20%) ;
    color: rgb(43, 61, 105) ;   
}

.tab textarea{
    background-color: rgb(255, 255, 255);
    border-color: rgb(204, 204, 204);
    text-align: left;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 21px ;
    padding: 10px ;
    /* margin: 10px auto 20px auto; */
    width: 90% ;
    border-style: solid;
    border-width: 1px ;
    transition: all 0.5s ease ;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 0%) ;
    height: 120px;
}
.tab textarea:hover{
    font-size: 21px ;
    width: 90% ;
    padding: 10px ;
    /* margin: 10px auto 20px auto ; */
    border-radius: 5px ;
    border-color: rgb(255, 88, 0) ;
    border-style: solid ;
    border-width: 1px ;
    background-color: rgb(255, 255, 255) ;
    transition: all 0.5s ease ;
    box-shadow: 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%), 0 3px 5px -1px rgb(0 0 0 / 20%) ;
    color: rgb(43, 61, 105) ;   
}
.tab textarea:focus{
    outline: none;
    transition: all 0.5s ease;
    border-color: rgb(255, 88, 0);
}
input.invalid {
    background-color: #ffdddd;
}
.tab{
    display: none;
}
.dot{
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
.dot.active {
    opacity: 1;
}
.dot.finish {
    background-color: #b6d3b7;
}